body {
    background: linear-gradient(230deg,#1d2d80,#5a5f7a,#000000);
    background-size: 180% 180%;
    animation: gradient-animation 24s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.Sorry {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
}

h1 {
    font-size: 600%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* color: rgb(43, 43, 190); */
}

button {
    font-size: 190%;
    /* background-color: rgb(50, 34, 196); */
    /* color: rgb(153, 161, 207); */
    border: none;
    border-radius: 10px;
    padding: 15px;
    min-height: 30px;
    min-width: 120px;
}

button:hover {
    transform: scale(1.1) perspective(10px);
    transition: 0.15s;
}

button:active {
    background-color: var(--emailPanelbackground);
}